<!doctype html>
<!-- Set the browser tab title using a block so child templates can override it, then append " - Analogs" -->
<title>{% block title %}{% endblock %} - Analogs</title>
<!-- Link the local static stylesheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- Link the Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<nav>
    <h1>Analogs</h1>
    <!-- List user control links -->
    <ul>
        <!-- If user is logged in -->
        {% if g.user %}
            <!-- Show the logged in username and logout link -->
            <li><span>{{ g.user['username'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% else %}
            <!-- Otherwise, show the login and register links -->
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<!-- Main content area -->
<section class="content">
    <!-- Render header block section for child templates to override -->
    <header>
        {% block header %}{% endblock %}
    </header>
    <!-- Loop through any flashed messages and display each -->
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <!-- Placeholder for the main content block to be filled by child templates -->
    {% block content %}{% endblock %}
    <!-- placeholder for the main content block to be filled by child templates -->
    <!-- Link the Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</section>